.slide {
    height: 400px;
    width:600px;
    display: none;
}
body{
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#timer{
    text-align: right;
    align-items: right;
}
