	body {
	font-family: Helvetica, Arial, sans-serif;
	color: #665544;
	padding: 15%, 15%;}
      h1 {padding: 12px;
	line-height: 2em;
         font-family: 'DancingScriptRegular';
         color:blue;
         text-align: center;
         font-size:400%;}
	h2{
	padding: 12px;
	line-height: 2em;}
	a, a:hover, a:visited {
	color: #665544;}
      i {
        color:darkgreen;}
p {
	padding: 12px;
	line-height: 2em;
   font-family: 'DancingScriptRegular';
   font-weight: normal;
   font-style: normal;
font-size: 200%;
}
iframe{
	frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;
}
div{
id="GOOGLE_INPUT_CHEXT_FLAG" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:true,&quot;ss&quot;:true}" style="display: none;"
}
