* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  text-align: center;
}
h1{
  font-family: 'BilboINCRegular'; /*imported font*/
}
body {
  width: 90%;
  margin: 0 auto;
  background-image: url("https://img.freepik.com/free-photo/abstract-blurred-multi-colored-background-generative-ai_169016-30200.jpg"); /*background image*/
  background-size: 100% 100%; /*has the background image stretch and shrink with the page*/
  background-repeat:no-repeat; /*makes the image singular*/
}
#content {
  overflow: auto;
}
#nav, #feature, #footer {
  margin: 1%;
}
#feature{
background-color: #FF00FF; /*assigns the element to be magenta*/
background-image: url("https://www.freeiconspng.com/uploads/customers-icon-3.png"); /* adds an icon */
background-size:contain;
background-repeat: no-repeat;
background-position:right; /* positions the icon to be singular fitting on the right side */
}
.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;
}
.column1{
  background-color:#FF0000; /*assigns the column to be red*/
}
.column2{
  background-color:#FFFF00; /*assigns the column to be yellow*/
}
.column3 {
  background-color:#00FF00; /*assigns the column to be green*/
  margin-right: 0%;
}
li {
  display: inline;
  padding: 0.5em;
}
#nav, #footer {
  padding: 0.5em 0;
}
#nav{
  background-color:#0000FF; /*assigns the element to be deep blue*/
}
#footer{
  background-color:#00FFFF; /*assigns the column to be light blue*/
}
#feature, .article {
  height: 10em;
  margin-bottom: 1em;
} /* removed the color component as it was redundant */
iframe{
  
}
