html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#title {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #62C2CE;
    text-align: center;
    z-index: 10;
    font-family: 'AvaraBold';
    font-size: 36px;
}

img {
    margin-left: 5px;
    margin-top: 10px;
}

#container {
    margin-top: 10%;
    margin-bottom: 5%;
}

.row {
    position: relative;
    margin: 0;
    justify-content: center;
}

.white {
    border: 1px solid black;
    width: 12%;
    height: 60px;
    background-color: white;
    float: left;
}

.black {
    border: 1px solid black;
    width: 12%;
    height: 60px;
    background-color: #787878;
    float: left;
}

#clear {
    clear: both;
}

#footer {
    left: 0px;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-family: 'AvaraBold';
    font-size: 18px;
    clear: both;
}
