body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#container {
    min-height: calc(100vh - 100px); /* Adjust based on header/footer size */
    margin-top: 10%;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-family: 'AvaraBold';
    padding: 10px;
}
