html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures it spans the entire height of the viewport */
    background-image: url('your-background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#container {
    min-height: 80vh; /* Ensures the container stretches appropriately */
    margin: auto;
}

footer {
    background-color: rgba(0, 0, 0, 0.8); /* Optional footer styling */
    color: white;
    padding: 10px;
    text-align: center;
}

img {
margin-left: 5px;
margin-top:10px;
}


.row{
position:relative;
margin-left:10%;
margin-right:10%;
}

.white{
border: 1px solid black;
width: 12%; /*changed from 10 as it used to be 9 squares per row*/
height: 60px;
background-color:white;
float:left;
}

.black{
border: 1px solid black;
width: 12%; /*changed from 10 as it used to be 9 squares per row*/
height: 60px;
background-color:#787878;
float:left;
}

#clear{
clear:both;
}

 
