.navbar {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 20px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: #FFEEEE;
}

body {
  font-family: 'Times New Roman';
  background-image: url("https://wallpapercave.com/wp/wp6981031.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.contained {
  flex: 1;
  max-width: 45%;
}

img {
  max-width: 80%; 
  height: auto;
  display: block;
  margin-bottom: 10px;
}
